
<div class="chart-box">
    </div><div style="display: flex;    flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;">
        <div class="div"><strong><%= t('map.stats.lastSynced') %></strong><br><span id="lastSynced"><%= t('common.loading') %></span><br><small><%= t('map.stats.updateNotice', { seconds: 300, minutes: 5 }) %></small></div>
        <div class="div">
            <strong><%= t('map.stats.submittedForms') %></strong>
            <canvas id="updatedForm"></canvas>
        </div>
        <div class="div">
            <strong><%= t('map.stats.provinceStats') %></strong>
            <canvas id="prov"></canvas>
        </div>
        <div class="div"><strong><%= t('map.stats.averageAge') %></strong><br><span id="avgAge"><%= t('common.loading') %></span></div>

        
    </div>
</div>
