<div style="display: flex;     flex-direction: row;
    justify-content: center;">
    <div class="div">
        <h3><%= t('map.tags.title') %></h3>
        <button type="button" data-query-name="inputType" data-query-value=""><%= t('map.tags.all') %></button>
        <button type="button" data-query-name="inputType" data-query-value="受害者本人"><%= t('map.tags.self') %></button>
        <button type="button" data-query-name="inputType" data-query-value="受害者的代理人"><%= t('map.tags.agent') %></button>
        <button type="button" data-query-name="inputType" data-query-value="批量数据"><%= t('map.tags.bulk') %></button>
    </div>
</div>
