<%- include('partials/head') %>
<html>
<body>
    <%- include('partials/language_switcher') %>
    <h1><%= t('about.title') %></h1>
    <p><%- include('partials/about_text') %></p>
    <p><%- include('partials/about_frend') %></p>
    <p><a href="/"><%= t('navigation.home') %></a></p>

    <%- include('partials/foot') %>
</body>
</html>
